* {
    margin: 0;
    padding:0;
}

h1 {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: solid 2px lightgray;
    background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg);
}

.nav {
    position: fixed;
    top: 0;
}

/* Homepage */

.home-container, .contact-container {
    background-image: linear-gradient(to bottom, rgb(161, 217, 219), pink);
}

.carousel-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-font {
    color:black;
}

.carousel {
    height:50%;
    width:50%;
    margin:3%;
}

/* Portfolio */


.card {
    margin:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde9f8;
    box-shadow: 10px 10px 10px 10px lightgray;
    width:288px;
    border-bottom:solid 2px lightgray ;
}

.card-button {
    margin-top: 1%;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-banner {
    background-color: rgb(162, 189, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Footer */

.footer {
    margin: 2%;
}

.icon {
    height:50px;
    width: 45px;
}

ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style: none;
    
   
  }

.card:hover {
    transform: scale(1.1);

}

@media only screen and (max-width: 600px) {
    .card {
      width:100%;
    }
  }

/* Contact me page */

.form-box {
    width:40%;
}

.form-container {
    border: 2px solid black;
    padding: 2%;
}

Form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

