* {
    margin: 0;
    padding:0;
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    margin:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde9f8;
}

