* {
    margin: 0;
    padding:0;
}

h1 {
    text-align: center;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
}

.grid, .navbar, .home-container, .contact-container, .portfolio-banner, .resume-container, .footer {
    background-image: url(https://images.saymedia-content.com/.image/t_share/MTkyOTkyMzE2OTQ3MjQ0MjUz/website-background-templates.jpg);

}



.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-attachment: fixed;
    background-size: cover; 


}

.nav {
    position: fixed;
    top: 0;
}

.navbar {
        background-repeat: no-repeat;
        background-size: cover;

}



.my-name {
    font-size: 150%;
    
}

/* Homepage */

.home-container {
    height:1000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



.contact-container {
    height:800px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;

}

.carousel-container, .card-3 {
    margin-bottom: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-item {
    margin-bottom: 5%;
}

.carousel-font {
    color:white;
    font-size: 180%;
    text-align: center;
}

.carousel {
    height:40%;
    width:70%;
    margin:3%;
    padding:0%;

    
}



.carousel-text {
    margin-top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-image2 {
    height:75%;
    width:75%;
}



.center, .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.emoji {
   height:400px;
   width:400px;
   background-color: #dde9f8;
   border-radius: 100%;
   

    }

/* Contact me  */

input {
    width:75%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #f9e7f1;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  .message-input {
    height:100px;
  }

/* Portfolio */


.card {
    margin:2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde9f8;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;     width:288px;
}

.card-button {
    margin-bottom: 1%;
}

.card-body, .resume-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-banner {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
       display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* resume page */
.resume-container {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

.accordian {
    margin-bottom: 1%;
}

.accordian-center {
    text-align: center;
}

/* Footer */

.footer {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding:2%;
}

.icon-styling {
    margin: 5%;
    opacity:80%;
}

.icon {
    height:50px;
    width: 45px;
}

.footer-icons {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style: none;
  }

    


  

.card:hover {
    transform: scale(1.1);

}



/* Contact me page */

form {
    height:500px;
}

.form-box {
    width:40%;
}

.form-container {
    padding: 2%;
}

Form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 
@media only screen and (max-width: 600px) {
    .card {
      width:100%;
    }

    .carousel {
        height:100%;
        width:100%;
    
    }

    .emoji {
        height:200px;
        width:200px;
  } 

  .carousel-font {
    font-size: 130%;
}

.navbar{
    display:flex;
    flex-direction: column;
}




}

@media only screen and (max-width: 800px) {
    iframe {
        height:800px;
        width:500px;
    }

}